{erl_opts, [debug_info]}.
{deps, [
  {jsone, {git, "https://github.com/sile/jsone.git"}},
  {cowboy, "2.9.0", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
  {pgsql, {git, "https://github.com/semiocast/pgsql.git"}},
  {qdate, {git, "https://github.com/choptastic/qdate.git"}},
  {gun, {git, "https://github.com/ninenines/gun.git"}},
  {jwerl, {git, "https://github.com/G-Corp/jwerl.git"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [profiles_server]}
]}.
